<h2>Новый вопрос</h2>

<form action="/states" method="POST">
  <p><label for="state[body]">Текст статьи</label></p>
  <p><textarea name="state[body]" rows=5></textarea></p>>
  <p><label for="state[author]">Автор</label></p>
  <p><input name="state[author]"></p>
  <p><input type="submit" value="Создать"></p>
</form>