<div class="container">
  <h2 class="title-lg">Создать статью</h2>

  <p class="mt">
    <%= render 'form', state: @state %>
  </p>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">Все статьи</h2>
</div>

<% @states.each do |state| %>
  <div class="mt-sm container">
    <%= render state %>
  </div>
<% end %>