<div class="container">
  <p class="mt"><%= link_to "Создать новую статью", new_state_path, class: 'button button-main' %>
  </p>

  <p class="mt">
    <%= render 'form', state: @state %>
  </p>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">Все статьи</h2>
</div>

<% @states.each do |state| %>
  <div class="mt-sm container">
    <%= render state %>
  </div>
<% end %>