<div class="container">
  <h2 class="title-lg mb">Новая статья</h2>

  <!--вызываем паршал специальным метод render-->
  <!--нипишем путь так как он находиться в той же папке-->
  <%= render 'form', state: @state %>
</div>