<div class="container">
  <h2 class="title-lg mb">Статья <%=@state.id %></h2>

  <%= render "state", state: @state %>

  <p class="mt"><%= link_to "Все статьи", states_path, class:'button button-main' %></p>
</div>

