body {
  background: #052B36;
  display: flex;
  justify-content: center;
}

.wrapper{
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container{
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}