.mt-sm {
  margin-top: 0.6rem;
}

.mt, .mt-md {
  margin-top: 1rem;
}

.mt-lg {
  margin-top: 1.75rem;
}

.mb-sm {
  margin-bottom: 0.6rem;
}

.mи, .mt-md {
  margin-bottom: 1rem;
}

.mи-lg {
  margin-bottom: 1.75rem;
}